@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#08090b] text-[#f5f6f7];
  }

  ::selection {
    background: #f5f6f7;
    color: #08090b;
  }
}
